<app-navbar></app-navbar>

<!-- <li  *ngFor="let q of quizService.qus">
  <p>{{q.Qn}}</p>
</li> -->
<div class="row" *ngIf="quizService.qus">
  <div class="col s8 offset-s2">

    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{ quizService.qnProgress+1 }}</span>
        <p>{{ quizService.qus[quizService.qnProgress].Qn }}</p>
        <div *ngIf="quizService.qus[quizService.qnProgress].ImageName!=null">
          <img class="center" [src]="quizService.rootUrl+'/Images/'+quizService.qus[quizService.qnProgress].ImageName" style="width:350px;height:200px">
        </div>
      </div>
      <div class="card-action">
        <ul class="collection answer">
          <ng-container *ngFor="let option of quizService.qus[quizService.qnProgress].Options;let i = index">
            <li *ngIf="option != null" class="collection-item" >
              {{option}}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

   

  </div>
</div>
